* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #de4c8a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: 0 5%;
}

@media (max-width: 900px) {
    .container {
        margin: 0 2%;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 0;
    }
}